footer {
  display:none
}
.profilePic{
    width: 100%;
    margin: auto;
    height: 40%;
}

.profilePic:hover  .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


.profileDiv{
    width: 98%;
    height: 23rem;
    border: 2px solid #283655;
    border-radius: 25px;
    margin: auto;
    box-shadow: 2px 2px 5px 3px #D0E1F9;
    display: flex;
}

.profileImg{
    z-index: 5;
    margin-left: 2rem;

}

.photo{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 2px;
    border: 4px solid #283655;
    border-radius: 25px;
    background-color: #D0E1F9;
    margin-top: 25%;
}

.photoName{

    margin: 5%;

}

.description{
    position: relative;
    top: 1.5rem;
    left: -1rem;
    padding-left: 5%;
    margin-left: -5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border: 4px solid #283655;
    border-radius: 25px;
    background-color: #D0E1F9;
    overflow: hidden;
    z-index: -1;
    width: 950px;
    height: 300px;
}

.nameFollowers
{
    margin-top: 2rem;
    background-color: #1E1F26;   
    padding: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 7rem;
    justify-items: center;
    align-items: center;
    color: white;
}


.followers
{
    justify-self: stretch;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 7rem;
    justify-items: center;
    align-items: center;
    grid-gap: 6px;
}

.name{

    border: 4px solid white;
    padding: 2.5rem;
}


  .nav-button-ltr1::before {
    width: 0%;
    bottom: 4px;
  }
  
  .nav-button-ltr1:hover::before {
    width: 89%;
  }

  .nav-button1::before {
    transition: 300ms;
    height: 3px;
    border-radius: 2px;
    content: "";
    position: absolute;
    background-color: #d0e1f9;
  }
  
  .nav-button1:hover {
    color: #d0e1f9 !important;
    background-color: #4d648d !important;
  }


  .nav-button2::before {
    transition: 300ms;
    height: 3px;
    border-radius: 2px;
    content: "";
    position: absolute;
    background-color: #d0e1f9;
  }
  
  .nav-button2:hover {
    color: #d0e1f9 !important;
    background-color: white !important;
  }


  .sendTheIcon:hover > .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }

    60% {
      opacity: 0;
      -webkit-transform: translate3d(-60%, 0, 0);
      transform: translate3d(-60%, 0, 0);
      }

    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
  

    .nav-button3::before {
      transition: 300ms;
      height: 3px;
      border-radius: 2px;
      content: "";
      position: absolute;
      background-color: #d0e1f9;
    }
    
    .nav-button3:hover {
      color: #1E1F26 !important;
      background-color: white !important;
    }

    .nav-button3:hover > b {
      color: #1E1F26 !important;

    }

    .createposttoggle.MuiToggleButton-root.Mui-selected {
      background-color: #283655 !important;
      color: white !important;
    }

    .midnightkrdoplease{
      color:#1E1F26 !important;
    }

    .photoName:hover{
      transition: scale;
    }